project:
  type: website
  output-dir: docs

website:
  title: "RJBingham"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - research.qmd
      - teaching.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



